name: golangci-lint

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.17
      - uses: actions/checkout@v3
      - uses: actions/cache@v2
        with:
          path: ~/go/bin/golangci-lint
          key: golangci-lint-1.45.2
      - uses: actions/cache@v2
        with:
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - run: git config --global url."https://${{ secrets.GH_ACCESS_TOKEN }}@github.com".insteadOf "https://github.com"
      - run: go env -w GOPRIVATE="github.com/bnb-chain/*"
      - run: go mod tidy && go mod download
      - name: golangci-lint
        run: make lint
